<!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="img/kamar5.jpg" height="1000" width="900" class="img-fluid" alt=""/>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            <p class="lead font-weight-bold">Parsiajar Kost</p>

            <div class="mb-3">
              <a href="kost-page.html">
                <span class="badge purple mr-1">Hinalang</span>
              </a>
              <a href="">
                <span class="badge green mr-1">Tobasa</span>
              </a>
            </div>

              <a href="">
                <span class="badge blue mr-1">Available</span>
              </a>

            <p class="lead">
              <span>Rp 1.500.000/bulan</span>
            </p>

            <p class="lead">
              <span>3 X 5 meter</span>
            </p>

            <p>Ayo Kos Baru buka yang ada di medan dengan fasilitas wifi dan toilet dalam yang bersih</p>

            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <button class="btn btn-primary btn-md my-0 p" type="submit">Booking
              </button>

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Informasi Tambahan</h4>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="img/toilet.jpg" height="400" width="400" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="img/teras-kamar5.jpg" height="400" width="400" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="img/kamar5.jpg" height="400" width="400" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->